@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  background-color: #351C08;
  height: 108px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 36px;
}
.ph-list, .ph-shopping-cart-simple, .ph-user{
  color: white;
  font-size: 18px;
  margin-left: 24px;
}
.ph-list:hover, .ph-shopping-cart-simple:hover, .ph-user:hover{
  color: #f0d399;
  cursor: pointer;
}
nav{
  flex: 1;
  text-align: right;
  padding-bottom: 20px;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-left: 24px;
}
nav ul li a:hover{
  color: #f0d399;
}
.ph-list{
  width: 0px;
  visibility: hidden;
}
.logo{
  margin-right: 60px;
}
.bottom{
  width: 100%;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 15px;
}
.bottomtext{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
}
.ph-twitter-logo-fill, .ph-github-logo-fill, .ph-linkedin-logo-fill, .ph-dribbble-logo-fill{
  font-size: 18px;
  margin: 8px;
  color: #351C08;
  transition: 0.25s;
}
.ph-twitter-logo-fill:hover{
  color: #1DA1F2;
  transition: 0.25s;
}
.ph-github-logo-fill:hover{
  color: #3F3F3F;
  transition: 0.25s;
}
.ph-linkedin-logo-fill:hover{
  color: #0072b1;
  transition: 0.25s;
}
.ph-dribbble-logo-fill:hover{
  color: #ea4c89;
  transition: 0.25s;
}
.bottomicons a{
  text-decoration: none;
}

@media only screen and (max-width: 650px){
  nav ul{
    width: 100%;
    background: #351C08;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  nav ul li a:hover{
  color: #f0d399;
  }
  .container{
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
  }
  .ph-list, .ph-shopping-cart-simple, .ph-user{
  color: white;
  width: 16px;
  margin-left: 24px;
}
.logo{
  width: 96px;
}
.navbar{
  padding-top: 22px;
}
.ph-list{
  width: 16px;
  visibility: visible;
}
#menuList{
  overflow: hidden;
  transition: 0.5s;
}
.bottomtext{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
}
.bottom {
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}
