@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
}
.container{
  width: 100%;
  background-color: #351C08;
  height: 108px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 36px;
}
.ph-list, .ph-shopping-cart-simple, .ph-user{
  color: white;
  font-size: 18px;
  margin-left: 24px;
}
.ph-list:hover, .ph-shopping-cart-simple:hover, .ph-user:hover{
  color: #f0d399;
  cursor: pointer;
}
nav{
  flex: 1;
  text-align: right;
  padding-bottom: 20px;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-left: 24px;
}
nav ul li a:hover{
  color: #f0d399;
}
.ph-list{
  width: 0px;
  visibility: hidden;
}
.logo{
  margin-right: 60px;
}
.bottom{
  width: 100%;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
.bottomtext{
  font-weight: 500;
  font-size: 15px;
  color: #351C08;
}
.ph-twitter-logo-fill, .ph-github-logo-fill, .ph-linkedin-logo-fill, .ph-dribbble-logo-fill{
  font-size: 18px;
  margin: 8px;
  color: #351C08;
  transition: 0.25s;
}
.ph-twitter-logo-fill:hover{
  color: #1DA1F2;
  transition: 0.25s;
}
.ph-github-logo-fill:hover{
  color: #3F3F3F;
  transition: 0.25s;
}
.ph-linkedin-logo-fill:hover{
  color: #0072b1;
  transition: 0.25s;
}
.ph-dribbble-logo-fill:hover{
  color: #ea4c89;
  transition: 0.25s;
}
.bottomicons a{
  text-decoration: none;
}
.whyus{
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.whyus h2{
  font-weight: 500;
  font-size: 32px;
  color: #351C08;
  padding-bottom: 30px;
}
.whyus img{
  width: 48px;
  color: #351C08;
}
.whyus .col-container{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.whyus .col-1{
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyus .col-1 p{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #351C08;
}
.recycle{
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  overflow: hidden;
  background-color:#351C08 ;
}
.recycle h2{
  font-weight: 400;
  font-size: 32px;
  color: white;
  padding-bottom: 30px;
}
.recycle p{
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 10px 70px;
}
.recycle button{
  font-weight: 500;
  font-size: 14px;
  color:#351C08 ;
  background-color: white;
  padding: 20px;
  margin-left: 70px;
  border-radius: 5px;
  border: 1.5px solid white ;
}
.recycle button:hover{
  color: white;
  background-color: #351C08;
  cursor: pointer;
}
.discount{
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  overflow: hidden;
}
.discount h2{
  font-weight: 500;
  font-size: 32px;
  color: #351C08;
  padding-bottom: 30px;
}
.discount p{
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #351C08;
  padding: 10px 70px;
}
.inputEmail{
  padding: 10px 70px;
}
.inputEmail input{
  height: 30px;
  width: 300px;
  font-weight: 500;
  border: 1.5px solid #351C08;
  border-radius: 5px;
  padding-left: 10px;
  color: #351C08;
}
.inputEmail button{
  height: 34px;
  width: 34px;
  border: 1.5px solid #351C08;
  border-radius: 5px;
  color:white ;
  background-color: #351C08;
}
.inputEmail button:hover{
  color: #351C08;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 650px){
  nav ul{
    width: 100%;
    background: #351C08;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  nav ul li a:hover{
  color: #f0d399;
  }
  .container{
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
  }
  .ph-list, .ph-shopping-cart-simple, .ph-user{
  color: white;
  width: 16px;
  margin-left: 24px;
}
.logo{
  width: 96px;
}
.navbar{
  padding-top: 22px;
}
.ph-list{
  width: 16px;
  visibility: visible;
}
#menuList{
  overflow: hidden;
  transition: 0.5s;
}
.bottomtext{
  font-weight: 500;
  font-size: 11px;
  text-align: center;
}
.bottom {
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.whyus .col-container{
  flex-direction: column;
  align-items: center;
}
.whyus {
    width: 100%;
    box-sizing: border-box;
    padding: 36px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.whyus h2 {
    font-size: 26px;
    padding-bottom: 10px;
}
.whyus .col-1 {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.whyus .col-1 p{
  font-size: 14px;
}
.whyus img{
  width: 36px;
}
.recycle{
  padding: 36px;
}
.recycle h2{
  font-size: 26px;
  padding-bottom: 10px;
}
.recycle p{
padding: 10px 24px;
font-size: 14px;
}
.recycle button{
  padding: 15px;
  margin-left: 24px;
  font-size: 12px;
}
.discount{
  padding: 36px;
}
.discount h2{
  font-size: 26px;
  padding-bottom: 10px;
}
.discount p{
padding: 10px 24px;
font-size: 14px;
}
.inputEmail{
padding: 10px 24px;
}
.inputEmail input{
  width: 188px;
}
}